@charset "UTF-8";
/**全域變數*/
/*顏色===================================*/
/*大小===================================*/
/* 有*的註解會出現 */
/* method的宣告要放前面 */
/* 這裡是由呼叫method產出的 */
.我的87顏色 {
  background-color: #888777;
  padding: "14px"; }

/* 巢狀的寫法css的排版會有點問題，可以手動再用css format */
.container {
  width: 1170px;
  margin: 0 auto; }
  .container .文章 {
    border: solid 1px #ccc;
    padding: 10px; }
    .container .文章 .文章內容 {
      background: #eee;
      font-size: 12px;
      padding: 10px; }
      .container .文章 .文章內容 p, .container .文章 .文章內容 h1 {
        color: #333; }

/*繼承*/
h1 {
  color: #888777; }

/**背景相關的樣式======================================================*/
.灰色背景 {
  /*transparent 透明，#00ff00，rgb(250,0,255)*/
  background-color: gray;
  padding: 20px; }

.淺藍色背景 {
  background-color: powderblue; }

.天空藍色背景 {
  background-color: SkyBlue; }

.巧克力色背景 {
  background-color: Chocolate; }

.暗海綠色背景 {
  background-color: DarkSeaGreen; }

.印第安紅色背景 {
  background-color: IndianRed; }

.淡粉紅色背景 {
  background-color: LightPink; }

.橘色背景 {
  background-color: Orange; }

.橘紅色背景 {
  background-color: OrangeRed; }

.銀色背景 {
  background-color: Silver; }

.背景的陰影 {
  box-shadow: 10px 10px 5px grey; }

/**圖片用相對路徑，如要共用的話，要加個變數存專案名字，再放到url中*/
.圖片背景, .圖片背景x, .圖片背景y, .圖片背景不repeat, .圖片背景放右上角 {
  background-image: url("/workJavaScript/css/g.png");
  padding: 60px; }

.圖片背景x {
  background-repeat: repeat-x; }

.圖片背景y {
  background-repeat: repeat-y; }

.圖片背景不repeat, .圖片背景放右上角 {
  background-color: gray;
  background-repeat: no-repeat;
  background-position: center; }

.圖片背景放右上角 {
  background-color: aqua;
  background-position: 66% 5%;
  /* background-position:50px 100px;//用像素定位 */
  /* background-attachment:fixed;	//背景图像是否固定或者随着页面的其余部分滚动。*/ }

.圖片背景多張 {
  padding: 60px;
  background-image: url(g.png), url(g.png);
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: 100px 80px, 50px 40px;
                                       	/**調整圖片大小  background-size: auto|length|cover|contain|initial|inherit;
ex:background-size: 100% 100%;background-size: cover;background-size: 50px, 130px, auto;
//cover是填滿的意思Fill the entire page with the image (no white space)
*/
  background-color: aqua; }

/**
漸層的部分，可設rgba的顏色有透明的效果
*/
.漸層紅到黃預設上到下 {
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(red, yellow);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, yellow);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, yellow);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, yellow);
  /* Standard syntax */
  /*
  順時針轉90,180,-90度
  background: linear-gradient(-90deg, red, yellow);*/ }

.漸層紅到黃左到右 {
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, red, yellow);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, yellow);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, yellow);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, red, yellow);
  /* Standard syntax */ }

.漸層紅到黃左上到右下 {
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, red, yellow);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, red, yellow);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, red, yellow);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, red, yellow);
  /* Standard syntax */ }

.多重漸層左到右 {
  background: red;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
  /* Standard syntax */
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); }

.多段漸層 {
  /*第1段10%，第2段到20%，所以佔20%會重覆5次*/
  background: -webkit-repeating-linear-gradient(red, yellow 10%, green 20%);
  /* For Safari 5.1 to 6.0 */
  background: -o-repeating-linear-gradient(red, yellow 10%, green 20%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-repeating-linear-gradient(red, yellow 10%, green 20%);
  /* For Firefox 3.6 to 15 */
  background: repeating-linear-gradient(red, yellow 10%, green 20%);
  /* Standard syntax (must be last) */ }

.中心點圓形漸層 {
  /*background: radial-gradient(shape size at position, start-color, ..., last-color);*/
  /*background: radial-gradient(circle, white, green);//可以把擴散的漸層本來是依背景的比例擴散的改成正圓形擴散*/
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(red, yellow, green);
  /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(red, yellow, green);
  /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(red, yellow, green);
  /* For Firefox 3.6 to 15 */
  background: radial-gradient(red, yellow, green);
  /* Standard syntax */
  /*可指定%數如右：background: radial-gradient(red 5%, yellow 15%, green 60%);	
  如果設定的%數沒有填滿100%，可以設定對外放大的設定，圓形的適用，方形的不知道
  closest-side最近側
  farthest-side最遠端
  closest-corner最近角
  farthest-corner最遠角落
  background: radial-gradient(closest-side at 60% 55%, red, yellow, black); /* Standard syntax (must be last) 
  */ }

.中心點圓形多段漸層 {
  background: -webkit-repeating-radial-gradient(red, yellow 10%, green 15%);
  /* For Safari 5.1 to 6.0 */
  background: -o-repeating-radial-gradient(red, yellow 10%, green 15%);
  /* For Opera 11.6 to 12.0 */
  background: -moz-repeating-radial-gradient(red, yellow 10%, green 15%);
  /* For Firefox 3.6 to 15 */
  background: repeating-radial-gradient(red, yellow 10%, green 15%);
  /* Standard syntax (must be last) */ }

/*本文相關的樣式=========================================*/
.紅色本文 {
  color: red; }

.綠色本文 {
  color: green; }

.藍色本文 {
  color: blue; }

.橘色本文 {
  color: Orange; }

.置中本文 {
  text-align: center; }

.左靠本文 {
  text-align: left; }

.右靠本文 {
  text-align: right; }

.右靠本文2 {
  direction: rtl; }

.上底線本文 {
  text-decoration: overline; }

.刪除線本文 {
  text-decoration: line-through; }

.底線本文 {
  text-decoration: underline; }

.無底線本文 {
  text-decoration: none; }

.陰影本文 {
  	/*css3 x軸 y軸 (模糊) 顏色
  	text-shadow: 2px 2px 5px red;
  
  	*/
  text-shadow: 2px 2px aqua; }

.多重陰影本文 {
  text-shadow: 1px 2px 13px red, 3px 4px 15px blue; }

.轉大寫 {
  text-transform: uppercase; }

.轉小寫 {
  text-transform: lowercase; }

.單字首字轉大寫 {
  text-transform: capitalize; }

.反向本文 {
  direction: rtl;
  unicode-bidi: bidi-override; }

.開頭縮排 {
  text-indent: 50px; }

.不換行的本文 {
  white-space: nowrap; }

.單字強制換行 {
  word-wrap: break-word; }

.增加字母字距 {
  letter-spacing: 3px; }

.減少字母字距 {
  letter-spacing: -2px; }

.增加行高 {
  line-height: 1.8; }

.減小行高 {
  line-height: 0.75; }

.增加單字字距 {
  word-spacing: 10px; }

.減少單字字距 {
  word-spacing: -5px; }

.頂端對齊本文 {
  /* baseline|length|sub|super|top|text-top|middle|bottom|text-bottom|initial|inherit;
  */
  vertical-align: text-top; }

.底部對齊本文 {
  vertical-align: text-bottom; }

.正常字型 {
  font-style: normal;
  font-weight: normal; }

.斜體字型 {
  font-style: italic; }

.斜體字型2 {
  font-style: oblique; }

.粗體字 {
  font-weight: bold; }

.大字型 {
  font-size: 2.5em;
  /* 40px/16=2.5em */ }

.中字型 {
  font-size: 0.875em;
  /* 14px/16=0.875em */ }

.特殊轉大寫 {
  font-variant: small-caps; }

.過長的文字轉點點點 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/*邊框*/
.點點邊框 {
  border-style: dotted; }

.虛線邊框 {
  border-style: dashed; }

.單線邊框 {
  border-style: solid; }

.雙線邊框 {
  border-style: double; }

.凹線邊框 {
  border-style: groove; }

.凸線邊框 {
  border-style: ridge; }

.嵌入邊框 {
  border-style: inset; }

.浮出邊框 {
  border-style: outset; }

.沒有邊框 {
  border-style: none; }

.隱藏邊框 {
  border-style: hidden; }

.複和邊框 {
  border-style: dotted dashed solid double; }

.複和邊框2 {
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid; }

.不同邊粗顏色的邊框 {
  border-style: solid;
  border-width: 2px 4px 6px 8px;
  border-color: red green blue yellow; }

.淺藍色邊框 {
  border-color: powderblue; }

.淡粉紅色邊框 {
  border-color: LightPink; }

.暗海綠色邊框 {
  border-color: DarkSeaGreen; }

.橘色邊框 {
  border-color: Orange; }

.圓角邊框 {
  border: 2px solid red;
  border-radius: 12px; }

.圖片邊框, .圖片邊框round, .圖片邊框stretch {
  border: 10px solid transparent;
  padding: 15px;
              /**
  border-image-repeat：邊框圖片中間重覆設定，共有三個參數可作控制。
　　stretch：延展方式填滿。
　　repeat：重複方式填滿。
　　round：重複方式填滿。當無法以整數的倍數填滿時，就會依照整數倍數來縮放圖片並填滿。
　　space：重複填滿。用整數倍數填滿，其它不足的部分，再縮放圖片填滿。
*/ }

.圖片邊框round {
  -webkit-border-image: url(border.png) 30 round;
  /* Safari 3.1-5 */
  -o-border-image: url(border.png) 30 round;
  /* Opera 11-12.1 */
  border-image: url(border.png) 30 round; }

.圖片邊框stretch {
  -webkit-border-image: url(border.png) 30 stretch;
  /* Safari 3.1-5 */
  -o-border-image: url(border.png) 30 stretch;
  /* Opera 11-12.1 */
  border-image: url(border.png) 30 stretch; }

.外圍線, .點點外圍線, .虛線外圍線, .單線外圍線, .雙線外圍線, .凹線外圍線, .凸線外圍線, .嵌入外圍線, .浮出外圍線 {
  border: 1px solid blue;
  outline-color: red;
  outline-width: 5px; }

.點點外圍線 {
  outline-style: dotted; }

.虛線外圍線 {
  outline-style: dashed; }

.單線外圍線 {
  outline-style: solid; }

.雙線外圍線 {
  outline-style: double; }

.凹線外圍線 {
  outline-style: groove; }

.凸線外圍線 {
  outline-style: ridge; }

.嵌入外圍線 {
  outline-style: inset; }

.浮出外圍線 {
  outline-style: outset; }

/**和佈挶切版扯得上邊的就放到這裡*/
.用外距置中 {
  margin: auto; }

.四邊不同外距 {
  margin: 10px 15px 10px 10px; }

.四邊不同外距2 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 20px; }

.繼承外距 {
  margin: inherit; }

.四邊不同內距 {
  padding: 5px; }

.四邊不同內距2 {
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 8px; }

.繼承內距 {
  padding: inherit; }

.一半寬度 {
  width: 50%; }

.一半高度 {
  height: 50%; }

.最大寬度500像素 {
  max-width: 500px;
  min-width: 300px; }

.最大高度500像素 {
  max-height: 500px;
  min-height: 500px; }

.自動調整寬度 {
  width: auto; }

.自動調整高度 {
  height: auto; }

.行內顯示 {
  display: inline; }

.區塊顯示 {
  display: block; }

.不佔位隱藏 {
  display: none; }

.佔位隱藏 {
  visibility: hidden; }

.元素預設位置 {
  position: static;
  border-width: 3px; }

.元素位置加偏移並重新定位子容器 {
  position: relative;
  left: 100px;
  border-width: 3px; }

.元素相對於視窗畫面的位置 {
  position: fixed;
  bottom: 10px;
  right: 100px;
  width: 300px;
  border-width: 3px; }

.元素的絕對位置 {
  position: absolute;
  left: 70px;
  Top: 70px;
  width: 200px;
  height: 100px;
  border-width: 3px; }

.顯示超出的部分 {
  overflow: visible; }

.隱藏超出的部分 {
  overflow: hidden; }

.超出的部分可捲動 {
  overflow: scroll; }

.超出的部分自動判斷可捲動 {
  overflow: auto; }

.超出的部分可水平捲動 {
  overflow-x: scroll;
  overflow-y: hidden; }

.超出的部分可垂直捲動 {
  overflow-y: scroll;
  overflow-x: hidden; }

.左邊的文遶圖 {
  float: left; }

.右邊的文遶圖 {
  float: right; }

.結束左邊的文遶圖 {
  clear: left; }

.結束右邊的文遶圖 {
  clear: right; }

.調整文遶圖的父容器大小 {
  overflow: auto; }

/**連結 a 相關的樣式*/
a.連結點選前綠色:link {
  color: green; }

a.連結點選後藍色:visited {
  color: blue; }

a.連結快點選時水色:hover {
  color: aqua; }

a.連結點選中紅色:active {
  color: red; }

a.連結點選前沒底線:link {
  text-decoration: none;
  background-color: yellow; }

a.連結點選後沒底線:visited {
  text-decoration: none;
  background-color: gray; }

a.連結快點選時有底線:hover {
  text-decoration: underline;
  background-color: aqua; }

a.連結點選中有底線:active {
  text-decoration: underline;
  background-color: lightpink; }

/**實作出一個長得像button的link*/
a.連結按鈕:link, a.連結按鈕:visited, a.連結按鈕:hover, a.連結按鈕:active {
  background-color: gray;
  color: green;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px; }

a.連結按鈕:hover, a.連結按鈕:active {
  background-color: aqua; }

a.選單連結, a.選單連結:hover {
  background-color: green;
  color: blue;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block; }

a.選單連結:hover {
  background-color: aqua; }

/**ul ol 相關的樣式*/
ul.空心圓型編號 {
  list-style-type: circle; }

ul.實心圓型編號 {
  list-style-type: disc; }

ul.方型編號 {
  list-style-type: square; }

ul.圖片編號 {
  list-style-image: url("/workJavaScript/css/g.png"); }

ol.羅馬數字編號 {
  list-style-type: upper-roman; }

ol.小寫英文編號 {
  list-style-type: lower-alpha; }

ol.大寫英文編號 {
  list-style-type: upper-alpha; }

ol.布臘編號 {
  list-style-type: lower-greek; }

ol.數字編號 {
  list-style-type: decimal; }

ol.中文數字編號 {
  list-style-type: cjk-ideographic; }

ol.數字編號補0 {
  list-style-type: decimal-leading-zero; }

ol.日文平假名五十音編號 {
  list-style-type: hiragana; }

ol.日文平假名伊呂波編號 {
  list-style-type: hiragana-iroha; }

ol.日文片假名五十音編號 {
  list-style-type: katakana; }

ol.日文片假名伊呂波編號 {
  list-style-type: katakana-iroha; }

ul.列表位置內縮, ol.列表位置內縮 {
  list-style-position: inside; }

ul.列表位置外擴, ol.列表位置外擴 {
  list-style-position: outside; }

ul.左邊有紅線 {
  border-left: 5px solid red;
  background-color: #f1f1f1;
  list-style-type: none;
  padding: 10px 20px; }

ul.手機清單樣式 {
  list-style-type: none;
  padding: 0;
  border: 1px dashed red; }

ul.手機清單樣式 li {
  padding: 8px 16px;
  border-bottom: 1px solid aqua; }

ul.選單樣式 {
  list-style-type: none;
  overflow: auto; }

ul.選單樣式 li {
  float: left; }

.dropdown主體 {
  position: relative;
  display: inline-block; }

.dropdown清單內容 {
  display: none;
  position: absolute;
  background-color: skyblue;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px; }

.dropdown主體:hover .dropdown清單內容 {
  display: block; }

.tooltip主體 {
  position: relative;
  display: inline-block;
  background-color: skyblue; }

.tooltip內容 {
  position: absolute;
  visibility: hidden;
  width: 120px;
  background-color: gray;
  border-radius: 6px;
  z-index: 1;
  /**做透明度彈出的動畫*/
  opacity: 0;
  transition: opacity 1s; }

.tooltip內容右彈 {
  top: -5px;
  left: 105%;
  /**主體的105%，剛如彈到主體的右邊5%*/ }

.tooltip內容右彈::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent  gray transparent  transparent; }

.tooltip內容左彈 {
  top: -5px;
  right: 105%;
  /**主體的105%，剛如彈到主體的左邊5%*/ }

.tooltip內容上彈 {
  width: 120px;
  bottom: 105%;
  left: 50%;
  margin-left: -60px;
  /* 置中=50%的left-一半的寬度 */ }

.tooltip內容下彈 {
  width: 120px;
  top: 105%;
  left: 50%;
  margin-left: -60px;
  /* 置中=50%的left-一半的寬度 */ }

.tooltip主體:hover .tooltip內容 {
  visibility: visible;
  opacity: 1; }

/*表格*/
table.普通的表格線框, table.單線的表格線框, table.單線的表格線框 th, table.單線的表格線框 td, table.普通的表格線框 th, table.單線的表格線框 th, table.普通的表格線框 td, table.單線的表格線框 td {
  text-align: right;
  vertical-align: bottom;
  border: 1px solid red;
  empty-cells: hide; }

table.單線的表格線框, table.單線的表格線框 th, table.單線的表格線框 td {
  border-collapse: collapse; }

table.標題放到下方 {
  caption-side: bottom; }

table.跨在上方變色 td:hover {
  background-color: aqua; }

table.單數列變色 tr:nth-child(even) {
  background-color: pink; }

/*凝態、假冒的樣式、用起來像filter，等同於filter或是某些暫時狀態會產生效果的class，如hover=========================*/
.點選時變色:active {
  background-color: yellow; }

.橫跨時變色:hover {
  background-color: blue; }

input.選取後變色:checked + span {
  background-color: yellow; }

input.禁用後變色:disabled + span {
  background-color: gray; }

input.致能後變色:enabled + span {
  background-color: aqua; }

input.聚焦時變色:focus {
  background-color: pink; }

.沒有子元素變色:empty + span {
  background-color: gray; }

p.選取每個容器中出現的第一個元素:first-child, h1.選取每個容器中出現的第一個元素:first-child {
  background-color: green; }

p.選取出現的第一個元素:first-of-type, h1.選取出現的第一個元素:first-of-type {
  background-color: green; }

input.數字區間變色:in-range {
  background-color: green; }

input.數字區間變色:out-of-range {
  background-color: pink; }

input.資料驗証變色:invalid {
  background-color: pink; }

input.資料驗証變色:valid {
  background-color: green; }

.反相選取變色:not(p):not(h1) {
  background-color: yellow; }

span.第2個變色:nth-child(2) {
  background-color: yellow; }

span.第偶數個變色:nth-child(even) {
  background-color: yellow; }

span.第奇數個變色:nth-child(odd) {
  background-color: yellow; }

span.第3倍加1個變色:nth-child(3n+1) {
  background-color: yellow; }

.父容器只有這一個這種元素 span:only-of-type {
  background-color: yellow; }

input.必填欄位變色:optional {
  background-color: green; }

input.必填欄位變色:required {
  background-color: pink; }

input.唯讀變色:read-only {
  background-color: gray; }

input.唯讀變色:read-write {
  background-color: blue; }

/*:root{background: #ff0000;} //等同直接設定body or html元素吧**/
.錨點變色:target {
  background-color: red; }

.在後面加東西::after {
  content: "(後面加了粗體紅字)";
  background-color: yellow;
  color: red;
  font-weight: bold; }

.在前面加東西::before {
  content: "(前面加了粗體紅字)";
  background-color: yellow;
  color: red;
  font-weight: bold; }

.修改第一個字::first-letter {
  font-size: 200%;
  color: red;
               /**
		font properties
		color properties 
		background properties
		margin properties
		padding properties
		border properties
		text-decoration
		vertical-align (only if float is 'none')
		text-transform
		line-height
		float
		clear*/ }

.修改第一個行::first-line {
  font-size: 150%;
  color: blue;
            /**
		font properties
		color properties 
		background properties
		word-spacing
		letter-spacing
		text-decoration
		vertical-align
		text-transform
		line-height
		clear*/ }

.被選取的部分::selection {
  color: red;
  background: yellow; }

.被選取的部分::-moz-selection {
  /* Code for Firefox */
  color: red;
  background: yellow; }

/*影音圖的處理和轉換的樣式=========================================*/
.透明度五十啪 {
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */ }

.位移轉換 {
  -ms-transform: translate(50px, 10px);
  /* IE 9 */
  -webkit-transform: translate(50px, 10px);
  /* Safari */
  transform: translate(50px, 10px);
  /* Standard syntax */ }

.角度轉換 {
  -ms-transform: rotate(-2deg);
  /* IE 9 */
  -webkit-transform: rotate(-2deg);
  /* Safari */
  transform: rotate(-2deg); }

.角度x軸心轉換 {
  -webkit-transform: rotateX(180deg);
  /* Safari */
  transform: rotateX(180deg); }

.角度y軸心轉換 {
  -webkit-transform: rotateY(180deg);
  /* Safari */
  transform: rotateY(180deg); }

.角度z軸心轉換, .動畫特效:hover {
  -webkit-transform: rotateZ(45deg);
  /* Safari */
  transform: rotateZ(45deg); }

.縮放轉換 {
  -ms-transform: scale(2, 3);
  /* IE 9 */
  -webkit-transform: scale(2, 3);
  /* Safari */
  transform: scale(2, 3); }

.水平斜轉轉換 {
  -ms-transform: skewX(20deg);
  /* IE 9 */
  -webkit-transform: skewX(20deg);
  /* Safari */
  transform: skewX(20deg); }

.垂直斜轉轉換 {
  -ms-transform: skewY(20deg);
  /* IE 9 */
  -webkit-transform: skewY(20deg);
  /* Safari */
  transform: skewY(20deg); }

.斜轉轉換 {
  -ms-transform: skew(20deg, 20deg);
  /* IE 9 */
  -webkit-transform: skew(20deg, 20deg);
  /* Safari */
  transform: skew(20deg, 20deg);
  /* Standard syntax */ }

.綜合轉換 {
  /*matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY()):*/
  -ms-transform: matrix(1, -0.3, 0, 1, 0, 0);
  /* IE 9 */
  -webkit-transform: matrix(1, -0.3, 0, 1, 0, 0);
  /* Safari */
  transform: matrix(1, -0.3, 0, 1, 0, 0); }

.改變軸心 {
  /*可以用負的px來當軸心*/
  -ms-transform-origin: 20% 20%;
  /* IE 9 */
  -webkit-transform-origin: 20% 20%;
  /* Chrome, Safari, Opera */
  transform-origin: 20% 20%; }

/*動畫相關的樣式=========================================*/
.動畫長度 {
  width: 200px; }

.動畫長度:hover {
  width: 500px; }

.動畫高度 {
  height: 20px; }

.動畫高度:hover {
  height: 100px; }

.動畫特效:hover {
  background: red; }

.長度轉換兩秒 {
  /*
   transition-property: width;
   transition-duration: 2s;
  */
  -webkit-transition: width 2s;
  /* Safari */
  transition: width 2s; }

.高度轉換三秒 {
  -webkit-transition: height 3s;
  /* Safari */
  transition: height 3s; }

.同時轉換高度和長度 {
  transition-property: width, height;
  transition-duration: 2s, 3s; }

.動畫特效轉換 {
  -webkit-transition: -webkit-transform 2s;
  /* Safari */
  transition: background 2s, transform 2s; }

/*
transition-timing-function: linear|ease|ease-in|ease-out|ease-in-out|step-start|step-end|steps(int,start|end)|cubic-bezier(n,n,n,n)|initial|inherit;
*/
.線性轉換 {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear; }

.慢快慢的轉換 {
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }

.起步較慢的轉換 {
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }

.結束較慢的轉換 {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.起步和結束較慢的轉換 {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.轉換的廷遲 {
  transition-delay: 2s; }

/*以下專門處理css3的keyframes動畫===========================================================*/
@keyframes 背景動畫效果 {
  from {
    background-color: red; }
  to {
    background-color: yellow; } }
/* Safari 4.0 - 8.0 */
@-webkit-keyframes 背景動畫效果 {
  from {
    background-color: red; }
  to {
    background-color: yellow; } }
.保留動畫效果 {
  animation-fill-mode: forwards; }

.背景動畫效果元件 {
  background-color: aqua; }

.背景動畫效果元件:hover {
  -webkit-animation-name: 背景動畫效果;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s;
  /* Safari 4.0 - 8.0 */
  animation-name: 背景動畫效果;
  animation-duration: 4s; }

@keyframes 背景動畫效果2 {
  0% {
    background-color: red; }
  25% {
    background-color: yellow; }
  50% {
    background-color: blue; }
  100% {
    background-color: green; } }
/* Safari 4.0 - 8.0 */
@-webkit-keyframes 背景動畫效果2 {
  0% {
    background-color: red; }
  25% {
    background-color: yellow; }
  50% {
    background-color: blue; }
  100% {
    background-color: green; } }
.背景動畫效果元件2 {
  background-color: aqua; }

.背景動畫效果元件2:hover {
  -webkit-animation-name: 背景動畫效果2;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s;
  /* Safari 4.0 - 8.0 */
  animation-name: 背景動畫效果2;
  animation-duration: 4s; }

@keyframes 背景動畫效果3 {
  0% {
    background-color: red;
    left: 0px;
    top: 0px; }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px; }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px; }
  75% {
    background-color: green;
    left: 0px;
    top: 200px; }
  100% {
    background-color: red;
    left: 100px;
    top: 100px; } }
/* Safari 4.0 - 8.0 */
@-webkit-keyframes 背景動畫效果3 {
  0% {
    background-color: red;
    left: 0px;
    top: 0px; }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px; }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px; }
  75% {
    background-color: green;
    left: 0px;
    top: 200px; }
  100% {
    background-color: red;
    left: 100px;
    top: 100px; } }
.背景動畫效果元件3 {
  background-color: aqua;
  height: 100px;
  width: 100px;
  position: relative; }

.背景動畫效果元件3:hover {
  -webkit-animation-name: 背景動畫效果3;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 3;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease;
  animation-name: 背景動畫效果3;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: 3;
  /*   animation-iteration-count: infinite;//無限次*/
  animation-direction: alternate;
  animation-timing-function: ease; }

.背景動畫效果元件4 {
  background-color: aqua;
  height: 100px;
  width: 100px;
  position: relative;
  animation-name: 背景動畫效果3;
  animation-duration: 4s;
  animation-iteration-count: 13;
  animation-play-state: paused; }

.背景動畫效果元件4:hover {
  animation-play-state: running; }

/*處理圖片的樣式=========================================*/
.圓角的圖片 {
  border-radius: 8px; }

.圓形的圖片 {
  border-radius: 50%; }

.連結圖片框 {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  transition: 0.3s; }

.連結圖片框:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); }
