@charset "UTF-8";
/**全域變數*/
/*顏色===================================*/
/*大小===================================*/
/* 有*的註解會出現 */
/* method的宣告要放前面 */
/* 這裡是由呼叫method產出的 */
.我的87顏色 {
  background-color: #888777;
  padding: "14px"; }

/* 巢狀的寫法css的排版會有點問題，可以手動再用css format */
.container {
  width: 1170px;
  margin: 0 auto; }
  .container .文章 {
    border: solid 1px #ccc;
    padding: 10px; }
    .container .文章 .文章內容 {
      background: #eee;
      font-size: 12px;
      padding: 10px; }
      .container .文章 .文章內容 p, .container .文章 .文章內容 h1 {
        color: #333; }

/*繼承*/
h1 {
  color: #888777; }

/**背景相關的樣式======================================================*/
.灰色背景 {
  /*transparent 透明，#00ff00，rgb(250,0,255)*/
  background-color: gray;
  padding: 20px; }

/**圖片用相對路徑，如要共用的話，要加個變數存專案名字，再放到url中*/
.圖片背景, .圖片背景x, .圖片背景y, .圖片背景不repeat, .圖片背景放右上角 {
  background-image: url("/workJavaScript/css/g.png");
  padding: 60px; }

.圖片背景x {
  background-repeat: repeat-x; }

.圖片背景y {
  background-repeat: repeat-y; }

.圖片背景不repeat, .圖片背景放右上角 {
  background-color: gray;
  background-repeat: no-repeat;
  background-position: center; }

.圖片背景放右上角 {
  background-color: aqua;
  background-position: 66% 5%;
  /* background-position:50px 100px;//用像素定位 */
  /* background-attachment:fixed;	//背景图像是否固定或者随着页面的其余部分滚动。*/ }

/*本文相關的樣式=========================================*/
.開頭縮排 {
  text-indent: 50px; }
