<configuration>
	<!-- 設定多久重掃一次組態檔 -->
	<!-- <configuration scan="true" scanPeriod="30 seconds" -->

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
			by default -->
		<encoder>
			<pattern>logback.xml -- 列印 --- %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n</pattern>
		</encoder>
	</appender>
	<!-- 這是常用的，現在是設成每分鐘重設，時間短比較好測 -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>z:/logFile.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 按天轮转 -->
			<fileNamePattern>z:/logFile.%d{yyyy-MM-dd_HH-mm}.log.zip
			</fileNamePattern>
			<!-- 保存 30 天的历史记录，最大大小为 30GB -->
			<maxHistory>180</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>列印22 --- %-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="File_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>z:/logErrorFile.log</file>
		<!-- 加入filter可以做這個log只印出下某些level的log -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>只有ERROR才會寫入 -- %-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>

	</appender>

	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>z:/newlogFile222.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>z:/newlogFile222.log-%d{yyyy-MM-dd}.%i.txt
			</fileNamePattern>
			<!-- each file should be at most 100MB, keep 60 days worth of history,
				but at most 20GB -->
			<maxFileSize>1MB</maxFileSize>
			<maxHistory>60</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>列印33 --- %-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>



	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
<!-- 		<appender-ref ref="ROLLING" /> -->
<!--		記錄一下如果實作ERROR的部分，還沒測試過，主要知道有一個filter的東西即可-->
<!--		<appender-ref ref="FILE_ERROR" />-->
	</root>
</configuration>