/*動畫相關的樣式=========================================*/
.動畫長度 {
	width: 200px;
}
.動畫長度:hover {
	width: 500px;
}
.動畫高度 {
	height: 20px;
}
.動畫高度:hover {
	height: 100px;
}
.動畫特效:hover {
	@extend .角度z軸心轉換;
	background: red;
}
.長度轉換兩秒 {

	/*
	 transition-property: width;
	 transition-duration: 2s;
	*/
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
}
.高度轉換三秒 {
	//transition: width 2s, height 4s;
	-webkit-transition: height 3s; /* Safari */
	transition: height 3s;
}
.同時轉換高度和長度 {
	//transition: width 2s, height 4s;
	transition-property: width, height;
	transition-duration: 2s, 3s;
}
.動畫特效轉換 {
	-webkit-transition: -webkit-transform 2s; /* Safari */
	transition: background 2s, transform 2s;
}

/*
transition-timing-function: linear|ease|ease-in|ease-out|ease-in-out|step-start|step-end|steps(int,start|end)|cubic-bezier(n,n,n,n)|initial|inherit;
*/
.線性轉換 {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	//equivalent to cubic-bezier(0, 0, 1, 1)
}
.慢快慢的轉換 {
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	//equivalent to cubic-bezier(0.25, 0.1, 0.25, 1)
}
.起步較慢的轉換 {
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
	//equivalent to cubic-bezier(0.42, 0, 1, 1)
}
.結束較慢的轉換 {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	//equivalent to cubic-bezier(0, 0, 0.58, 1)
}
.起步和結束較慢的轉換 {
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	//equivalent to cubic-bezier(0.42, 0, 0.58, 1)
}
.轉換的廷遲 {
	//transition: width 2s linear 1s;
	//第四個參數為廷遲
	transition-delay: 2s;
}

/*以下專門處理css3的keyframes動畫===========================================================*/
@keyframes 背景動畫效果 {
	from {
		background-color: red;
	}
	to {
		background-color: yellow;
	}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes 背景動畫效果 {
	from {
		background-color: red;
	}
	to {
		background-color: yellow;
	}
}
.保留動畫效果 {
	animation-fill-mode: forwards;
	//animation-fill-mode: none|forwards|backwards|both|initial|inherit;
	//保前只看得懂forwards，none會回復原來的狀態，而其它的看不懂應用應該也比較少一點
}
.背景動畫效果元件 {
	background-color: aqua;
}
.背景動畫效果元件:hover {
	-webkit-animation-name: 背景動畫效果; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
	animation-name: 背景動畫效果;
	animation-duration: 4s;
	//animation-delay: 2s;
}
/////////////////////////////////////////////////////
@keyframes 背景動畫效果2 {
	0% {
		background-color: red;
	}
	25% {
		background-color: yellow;
	}
	50% {
		background-color: blue;
	}
	100% {
		background-color: green;
	}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes 背景動畫效果2 {
	0% {
		background-color: red;
	}
	25% {
		background-color: yellow;
	}
	50% {
		background-color: blue;
	}
	100% {
		background-color: green;
	}
}
.背景動畫效果元件2 {
	background-color: aqua;
}
.背景動畫效果元件2:hover {
	-webkit-animation-name: 背景動畫效果2; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
	animation-name: 背景動畫效果2;
	animation-duration: 4s;
	//animation-delay: 2s;
}
////////////////////////////////////////////////////////////
@keyframes 背景動畫效果3 {
	0% {
		background-color: red;
		left: 0px;
		top: 0px;
	}
	25% {
		background-color: yellow;
		left: 200px;
		top: 0px;
	}
	50% {
		background-color: blue;
		left: 200px;
		top: 200px;
	}
	75% {
		background-color: green;
		left: 0px;
		top: 200px;
	}
	100% {
		background-color: red;
		left: 100px;
		top: 100px;
	}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes 背景動畫效果3 {
	0% {
		background-color: red;
		left: 0px;
		top: 0px;
	}
	25% {
		background-color: yellow;
		left: 200px;
		top: 0px;
	}
	50% {
		background-color: blue;
		left: 200px;
		top: 200px;
	}
	75% {
		background-color: green;
		left: 0px;
		top: 200px;
	}
	100% {
		background-color: red;
		left: 100px;
		top: 100px;
	}
}
.背景動畫效果元件3 {
	background-color: aqua;
	height: 100px;
	width: 100px;
	position: relative;
}
.背景動畫效果元件3:hover {
	-webkit-animation-name: 背景動畫效果3; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: 3; /* Safari 4.0 - 8.0 */
	-webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
	-webkit-animation-timing-function: ease;
	//animation-timing-function: linear|ease|ease-in|ease-out|ease-in-out|step-start|step-end|steps(int, start|end)|cubic-bezier(n, n, n, n)|initial|inherit;
	animation-name: 背景動畫效果3;
	animation-duration: 4s;
	animation-delay: 2s;
	//可以負數，如-2表示略過前2秒的動畫
	animation-iteration-count: 3;	/*   animation-iteration-count: infinite;//無限次*/
	animation-direction: alternate;
	//animation-direction: normal|reverse|alternate|alternate-reverse|initial|inherit;
	animation-timing-function: ease;
	// 簡寫：動畫名稱 秒數 線性 廷遲 次數 方向
	// animation: 背景動畫效果3 3s ease 2s infinite alternate;
}
.背景動畫效果元件4 {
	background-color: aqua;
	height: 100px;
	width: 100px;
	position: relative;
	animation-name: 背景動畫效果3;
	animation-duration: 4s;
	animation-iteration-count: 13;
	animation-play-state: paused;
	//animation-play-state: paused|running|initial|inherit;
}
.背景動畫效果元件4:hover {
	//animation-play-state: paused|running|initial|inherit;
	animation-play-state: running;
}