/*邊框*/
.點點邊框 {
	border-style: dotted;
}
.虛線邊框 {
	border-style: dashed;
}
.單線邊框 {
	border-style: solid;
}
.雙線邊框 {
	border-style: double;
}
.凹線邊框 {
	border-style: groove;
}
.凸線邊框 {
	border-style: ridge;
}
.嵌入邊框 {
	border-style: inset;
}
.浮出邊框 {
	border-style: outset;
}
.沒有邊框 {
	border-style: none;
}
.隱藏邊框 {
	border-style: hidden;
}
.複和邊框 {
	border-style: dotted dashed solid double;
}
.複和邊框2 {
	border-top-style: dotted;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: solid;
}
.不同邊粗顏色的邊框 {
	border-style: solid;
	border-width: 2px 4px 6px 8px;
	//border-width: medium;
	border-color: red green blue yellow;
}
.淺藍色邊框 {
	border-color: powderblue;
}
.淡粉紅色邊框 {
	border-color: LightPink;
}
.暗海綠色邊框 {
	border-color: DarkSeaGreen;
}
.橘色邊框 {
	border-color: Orange;
}
.圓角邊框 {
	//css3
	border: 2px solid red;
	border-radius: 12px;
	//border-radius: 15px 50px 30px 5px://四個角
	//border-radius:50px/15px;
	//由大角度變小角度
	//border-radius: 50%;
	//幾乎變一個圓
	//border-top-left-radius: 12px;
	//border-top-right-radius: 12px;
	//border-bottom-right-radius: 12px;
	//border-bottom-left-radius: 12px;
}
.圖片邊框 {
	//css3
	border: 10px solid transparent;
	padding: 15px;/**
	  border-image-repeat：邊框圖片中間重覆設定，共有三個參數可作控制。
	　　stretch：延展方式填滿。
	　　repeat：重複方式填滿。
	　　round：重複方式填滿。當無法以整數的倍數填滿時，就會依照整數倍數來縮放圖片並填滿。
	　　space：重複填滿。用整數倍數填滿，其它不足的部分，再縮放圖片填滿。
	*/
}
.圖片邊框round {
	//這邊的長度用30，正常來說是圖片/3，但w3c的例子用30不用27，邊框才有連起來的感覺，亂設的話邊框會變得很奇怪的
	@extend .圖片邊框;
	-webkit-border-image: url(border.png) 30 round; /* Safari 3.1-5 */
	-o-border-image: url(border.png) 30 round; /* Opera 11-12.1 */
	border-image: url(border.png) 30 round;
	//border-image-slice:30;
}
.圖片邊框stretch {
	@extend .圖片邊框;
	-webkit-border-image: url(border.png) 30 stretch; /* Safari 3.1-5 */
	-o-border-image: url(border.png) 30 stretch; /* Opera 11-12.1 */
	border-image: url(border.png) 30 stretch;
	//border-image-slice:30;
	//border-image-width: 10px;//設這個可以把圖片放大縮小
}
.外圍線 {
	border: 1px solid blue;
	outline-color: red;
	outline-width: 5px;
}
.點點外圍線 {
	@extend .外圍線;
	outline-style: dotted;
}
.虛線外圍線 {
	@extend .外圍線;
	outline-style: dashed;
}
.單線外圍線 {
	@extend .外圍線;
	outline-style: solid;
}
.雙線外圍線 {
	@extend .外圍線;
	outline-style: double;
}
.凹線外圍線 {
	@extend .外圍線;
	outline-style: groove;
}
.凸線外圍線 {
	@extend .外圍線;
	outline-style: ridge;
}
.嵌入外圍線 {
	@extend .外圍線;
	outline-style: inset;
}
.浮出外圍線 {
	@extend .外圍線;
	outline-style: outset;
}