/*邊框*/
.點點邊框 {border-style: dotted;}
.虛線邊框 {border-style: dashed;}
.單線邊框 {border-style: solid;}
.雙線邊框 {border-style: double;}
.凹線邊框 {border-style: groove;}
.凸線邊框 {border-style: ridge;}
.嵌入邊框 {border-style: inset;}
.浮出邊框 {border-style: outset;}
.沒有邊框 {border-style: none;}
.隱藏邊框 {border-style: hidden;}
.複和邊框 {border-style: dotted dashed solid double;}
